<div class="container mt-5 mb-5">

  <h2>Consultar reservas <i class="fa fa-clipboard-list"></i></h2>
  <button class="btn btn-danger btn-sm" [routerLink]="['/home']">Regresar</button>
  <hr>

  <form #myForm="ngForm">

    <span>Ingrese el número de identificación para consultar la reserva</span>

    <div class="row mt-3">

      <div class="input-group mb-3 col-md-6 col-sm-12">
        <input name="searchText" type="text" class="form-control" placeholder="Número de identificación" 
        [(ngModel)]="searchText" required>

        <div class="input-group-append">
          <button [disabled]="!myForm.valid" (click)="search()" class="btn btn-success" type="button" id="button-addon2">Buscar</button>
        </div>
      </div>
    </div>
    
  </form>

  <div *ngIf="search && reservations && reservations.length == 0" class="alert alert-secondary" role="alert">
      No se encuentran reservas para usuario ingresado
    </div>

  <div class="card" *ngIf="search && reservations && reservations.length > 0 && reservations[0]">
    <div class="card-body">
      <h5 class="card-title">Información del usuario</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{reservations[0]?.name}}</h6>
      <p class="card-text">
        <strong>Documento: </strong>{{reservations[0].customerId}}
        <br>
        <strong>Fecha de nacimiento: </strong>{{reservations[0].birthdate | date}}
      </p>
    </div>
  </div>

  <div class="mt-4" *ngIf="search && reservations && reservations.length > 0">

  <h4>Reservaciones</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">Precio pagado/a pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <th scope="row">{{reservation.flight.departureTime | date}}</th>
        <th scope="row">{{reservation.flight.departureTime | time}}</th>
        <td>{{reservation.flight.originPlace}}</td>
        <td>{{reservation.flight.destinationPlace}}</td>
        <td>{{reservation.paidValue | currency: 'USD':'$':'1.0-2'}}</td>
      </tr>
    </tbody>
  </table>

  </div>

</div>