<div class="container mt-4 mb-4">

  <h2>Reservación</h2>
  <hr>

  <div class="card" *ngIf="_fs.getFlight(idFlight)">
    <div class="card-body">
      <h5 class="card-title">Información del vuelo</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{_fs.getFlight(idFlight)?.originPlace + ' - ' + _fs.getFlight(idFlight)?.destinationPlace}}</h6>
      <p class="card-text">
        <strong>Fecha: </strong>{{_fs.getFlight(idFlight).departureTime | date}}
        <br>
        <strong>Hora: </strong>{{_fs.getFlight(idFlight).departureTime | time}}
        <br>
        <strong>Precio: </strong>{{_fs.getFlight(idFlight).basePrice | currency: 'USD': '$': '1.0-2'}}
      </p>
    </div>
  </div>

  <form #myForm="ngForm">
    <div class="row mt-4 mb-2">

      <div class="form-group col-md-6 col-sm-12">
        <label for="reservationId">Número de identificación</label>
        <input type="number" class="form-control" id="reservationId" name="reservationId" minlength="7"
        placeholder="Número de identificación" [(ngModel)]="reservation.customerId" required #reservationId>
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <label for="reservationName">Nombre</label>
        <input type="text" class="form-control" id="reservationName" name="reservationName"
        placeholder="Nombre" [(ngModel)]="reservation.name" required #reservationName>
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <label for="reservationBirthdate">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="reservationBirthdate" name="reservationBirthdate"
        placeholder="Fecha de nacimiento" [(ngModel)]="reservation.birthdate" required #reservationBirthdate>
      </div>

    </div>

    <button type="button" (click)="submit()" class="btn btn-success mr-2" [disabled]="!myForm.valid">Enviar</button>
    <button class="btn btn-danger" [routerLink]="['/flights']">Regresar</button>
  </form>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button *ngIf="modalButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{modalBody}}
      </div>
      <div class="modal-footer">
        <button *ngIf="modalButton" type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>