<div class="container mt-4 mb-4">

  <div class="d-flex justify-content-center">
    <h1>Awesome Airline</h1>
  </div>

  <div class="d-flex justify-content-center">
    <img src="../../../assets/images/logo.png" class="img" alt="Responsive image">
  </div>

  <div class="row mt-5">

    <div class="col-md-6 col-sm-12 col-bg-6">
      <h3>Vuelos</h3>
      <hr>

      <strong>¿Buscas vuelos?</strong>
      <p>Consulte los vuelos disponibles en nuestra aerolinea.</p>

      <button type="button" [routerLink]="['/flights']" class="btn btn-secondary">Consultar vuelos <i class="fa fa-plane"></i></button>
    </div>

    <div class="col-md-6 col-sm-12 col-bg-6">
      <h3>Reservas</h3>
      <hr>

      <strong>¿Tienes reserva?</strong>
      <p>Consulte todos los detalles de su reserva.</p>

      <button type="button" [routerLink]="['/reservations']" class="btn btn-secondary">Consultar reservas <i class="fa fa-clipboard-list"></i></button>
    </div>
  </div>
</div>