<div class="container mt-5 mb-5">

  <h2>Vuelos <i class="fa fa-plane"></i></h2>
  <button class="btn btn-danger btn-sm" [routerLink]="['/home']">Regresar</button>
  <hr>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of _fs.flights">
        <th scope="row">{{flight.departureTime | date}}</th>
        <th scope="row">{{flight.departureTime | time}}</th>
        <td>{{flight.originPlace}}</td>
        <td>{{flight.destinationPlace}}</td>
        <td>{{flight.basePrice | currency: 'USD':'$':'1.0-2'}}</td>
        <td><button class="btn btn-success btn-sm" [routerLink]="['/reservation',flight._id]">Reservar</button></td>
      </tr>
    </tbody>
  </table>

</div>